@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET это бесплатный веб-фреймворк для создания отличных веб-сайтов и веб-приложений с использованием HTML, CSS и JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC предоставляет вам мощный, основанный на шаблонах способ создания динамических веб-сайтов, который
            обеспечивает четкое разделение задач и дает вам полный контроль над разметкой
            для приятной и гибкой разработки.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Получите больше библиотек</h2>
        <p>NuGet - это бесплатное расширение Visual Studio, которое позволяет легко добавлять, удалять и обновлять библиотеки и инструменты в проектах Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Вы можете легко найти веб-хостинговую компанию, которая предлагает правильное сочетание функций и цены для ваших приложений.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>